body{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.calculadora {
    width: 300px;
}

.calculadora div{
    display: flex;
    width: fit-content;
    margin: 5px 0 5px auto;
}

#dobleFazContainer div{
    margin: 0 auto;
}

p {
    margin: 0;
}

#detalle{
    text-align: end;
}

#orders{
    margin: 0 50px;
}

#orders ul {
    margin: 0;
    padding: 0;
}